rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Allow access to profile type collections
    match /{profileType}/{userId} {
      allow read: if isAuthenticated() && request.auth.uid == userId;
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }

    // Allow access to pending users
    match /pending_users/{userId} {
      allow read, write, delete: if request.auth.uid == userId;
    }

    // Allow access to shared collections
    match /shared/{document=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }
  }
} 